@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Nunito Sans", sans-serif;
}

.active-nav {
  right: 10px;
  top: 65px;
}

.inactive-nav {
  right: -500px;
}

@layer components {
  .menu-header {
    @apply cursor-pointer font-medium;
  }

  .scroll-nav {
    @apply bg-white border border-b-gray-200;
  }
}

.menu-header {
  cursor: pointer;
  font-weight: 500;
}

.scroll-nav{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    border-width: 1px;
--tw-border-opacity: 1;
  border-bottom-color: rgb(229 231 235 / var(--tw-border-opacity));
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-250px * 4));
  }
}

.logo-slide {
  animation: 40s slide infinite linear;
  width: calc(250px * 8);
}